body {
    background-color: #ddd;
    margin: 0px;
    padding: 15px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    color: #111;
}

img {
    max-width: 100%;
}

pre {
    background: #f5f5f5;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    display: inline;
}

pre>code {
    display: block;
    background: inherit;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    max-height: 70vh;
    overflow-y: auto;
    border: 1px solid #eee
}

pre.lineNumbers {
    display: block;
}

pre.lineNumbers>code {
    display: inline;
    padding: 0;
}

pre.lineNumbers>code:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    margin-left: -4em;
    width: 2.2em;
    color: #999;
    text-align: right;
}

td {
    padding: 8px 8px;
    font-size: 14px;
}

tr:hover {
    background-color: #fafafa;
}

button {
    font-size: 14px;
    background-color: #999;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #aaa;
}

button:hover {
    box-shadow: 1px 1px 3px #555;
}

button:focus {
    box-shadow: 1px 1px 3px #555;
    outline: none;
}

article {
    box-sizing: border-box;
    background-color: #fff;
    padding: 3em;
    font-size: 1em;
    text-align: left;
    width: 70%;
    max-width: 1080px;
    margin: 0px auto 48px auto;
    box-shadow: 1px 1px 5px #555;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

a, a:visited{
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: #aaa;
}

li>a {
    text-decoration: none;
}

div.back {
    float:left;
    margin-top: 1em;
}
div.next {
    float:right;
    margin-top: 1em;
}
div.back>a, div.next>a{
    color:inherit;
    text-decoration: none;
}
div.back>a:hover, div.next>a:hover{
    color:#777;
    text-decoration: none;
}
div.backArr {
    position:fixed;
    left:3%;
    top:50vh;
    margin-left:20px;
    margin-top:-12px;
    z-index:2;
}
div.nextArr {
    position:fixed;
    right:3%;
    top:50vh;
    margin-right:-12px;
    margin-top:-12px;
    z-index:2;
}
div.backArr>a:hover, div.backArr>a, divArr.next>a:hover, div.nextArr>a{
    color:#777;
    text-decoration: none;
}

footer {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 6px;
    margin-top: 12px;
}

hr {
    margin: 20px auto;
}

nav {
    box-sizing: border-box;
    background-color: #fff;
    padding: 32px;
    text-align: left;
    z-index: 2;
    overflow: hidden;
    box-shadow: 1px 1px 5px #555;
    height: 100vh;
    top: 0;
    left: -228px;
    width: 260px;
    position: fixed;
    transition: left 500ms;
}
nav:hover {
    left: 0 !important;
}
nav>div>ol {
    padding-left: 20px;
}
body {
    margin-left: 32px; 
}

/* --------MOBILE DEVICES-------- */
@media screen and (max-width: 1000px) {
    article {
        width: 88%;	
    }

@media screen and (max-width: 769px) {
    article {
        width: 100vw;
        max-width: 100%;
        margin: 0px 0px 0px 0px;
        overflow-x: auto;
        padding: 16px 36px 32px 36px;
    }
    body {
        padding: 0px;
        margin: 0;
        background-color: #ccc !important;
    }
    td {
        padding: 6px 6px;
        font-size: 12px;
    }
    nav {
        position: relative;
        width: 100%;
        height: 32px;
        padding: 12px 2em;
        left: 0;
        -webkit-transition: height 500ms, padding 500ms;
        -moz-transition: height 500ms, padding 500ms;
        transition: height 500ms, padding 500ms;
        overflow: hidden
    }
    nav:hover {
        left: 0;
        overflow: auto;
        height: 100vh;
        padding: 2em;
    }
    div.backArr {
        margin-left:-12px;
    }
